
//color variables
$green-shade1: #2CA257;
$green-shade2: #268D4C;
$green-shade3: #008d34;
$blue-green: #09B087;
$blueish-green: #20B08D;
$grey: #DCDCDC;
$dark-grey: #C4C4C4;
$darker-grey: #ADADAD;
$darkest-grey: #6b6b6b;
$white: #FFF;
$night: #000;
$gold-dust: #FEA500;
$gold-light: #FFB223;
$gold-dark: #C2950A; 
$yellow: #FFD024;
$error: #c92723;
$anchor: #646cff;


