@use '../color';

#alert {
  padding: 0 1rem;
  .container {
    filter: drop-shadow(-.4rem .8rem  color.$gold-dark);

    background-color: color.$darkest-grey;
    border: 1.5px solid color.$green-shade1;
    padding: 0 1rem;
    transform: skewX(-4deg) translate(2px);
    transform-origin: center;
    h1 {
      color: color.$gold-dark;
      font-size: 1.5rem;
      border-bottom: 1px solid color.$gold-dark;
   }

   p {
     color: color.$darker-grey;
   }
 }
}

