@use "../color";

#exam {
  position: relative;
  padding: 1.5rem;
  color: color.$night;
  .subjects {
    margin: 0;
    list-style: none;
    padding: 0;
    li {
      //font-family: ;
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .timer-n-submit-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    //padding: .5rem 0;
    .timer {
      color: color.$error;
      font-weight: 500;
      font-size: 1.1rem;
    }
    .submit-container {
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      .btn {
        font-size: 1.1rem;
        padding: 1rem 2rem;
        text-align: center;
        background: color.$green-shade2;
        font-weight: 500;
        color: color.$grey;
        border-radius: .5rem;
        border: none;
      }
    }
  }
  .controls {
    //border: 1px solid red;
    display:flex;
    align-items: center;
    .btn {
      text-align: center;
      padding: 1rem 2rem;
      border-radius: .5rem;
      border: none;
      font-size: 1.1rem;
    }
    .prev {
      background: color.$grey;
    }
    .next {
      margin-left: auto;

    }
  }
  .menu-container {
    //padding: 1.5rem;
    position: fixed;
   // border: 1px solid red;
    top: 0;
    left: 0;
    z-index: 200000;
    backdrop-filter:blur(10px);
    width: 100%;
    height: 100%;
    .cancel {
      font-size: 3rem;
      color: color.$error;
      margin: 4px;
      padding: 0 1rem;
    }
    .menu {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-around;
      li {
        width: 1rem;
        //border: 1px solid color.$error;
        margin: 4px;
        padding: .5rem;
        border-radius: .5rem;
        text-align: center;
        background: color.$green-shade2;
        font-weight: bold;
        
      }
      .picked {
        background: color.$gold-dark;
      }
    }
  }
  
  .active {
    color: color.$gold-dark;
  }
  
}




.hr {
  height: 2.5px;
  background: linear-gradient(120deg,#C2950A 0%,#8ABF3F 10%,#2CA257 100%);
    border: none;
  }
