@use "../color";

#navHome {
   background-color: color.$darkest-grey;
  //background: repeating-radial-gradient(color.$grey 0px , color.$night 10px);
  padding: 1rem 0;
  //border: 1px solid blue;
  margin-bottom:1rem;
  border-bottom: .5rem solid color.$green-shade1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  filter:drop-shadow(.5rem 0.7rem color.$gold-dark);
  .navlinks {
    width: 100%;
    list-style: none;
    display: flex;
    //font-size: 1.2rem;
    li {
      &:hover, &:active {
        transform: scale(1.2);
      }
    }
    .signup-link{
      margin: 0 2rem 0 auto;
    }
    .login-link {
      margin-right: 1.5rem;
    }
    
    a {
      color: color.$gold-dark;
    }
  }
  .logo {
    //border: 1px solid red;
    margin:0;
  }

}
