@use "../color";


#login {
  //border: 1px solid red;
  padding: 1.5rem;
  position: relative;
  z-index: 100;
  transform: translate(0, -10rem);
  .container {
    background-color: color.$dark-grey;
    filter: drop-shadow(-2px 10px color.$darker-grey);
    padding: 2rem;
    border-radius: 1.5rem;
    .error {
      text-align: center;
      color: color.$error;
      padding: 0 1rem;
    }
    .showPasswd {
      color: color.$anchor;
      //font-weight: 500;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      margin: .2rem 0;
      input {
        transform: scale(1.1);
      }
    }
    form {
      fieldset {
        border: 2px solid color.$grey;
        border-radius: 1.5rem;
        margin: 1rem 0;
        padding: 1rem;
        legend {
          color: color.$gold-dark;
          font-weight: bold;
          font-size: 1.4rem;
          //text-align: center;
        }
        input {
          border: none;
          background: transparent;
          margin-bottom: 1.5rem;
          width: 100%;
          outline: none;
          padding: .5rem 0;
          color: color.$gold-dark;
          border-bottom: 1.5px solid color.$darker-grey;
          font-size: 1rem;
          &:active,&:focus,&:hover,
          &:-webkit-autofill {
             border-bottom: 2px solid color.$gold-dark;
             outline: none;
             color: color.$gold-dark;
           }
        }
        .con-button {
          width: 100%;
          margin: .5rem 0;
          .btn {
            background: color.$gold-dark;
            width: 100%;
            border: none;
            padding: .6rem;
            border-radius: 1.5rem;
            text-align: center;
            color: color.$darkest-grey;
            font-size: 1.2rem;
            &:active {
              background: color.$gold-dust;
            }
            &:hover {
              transform: scaleY(1.1);
            }
          }
        }
      }
    }
    .sub-container {
       padding: 1rem 0;
      .reset-password {
        text-align: center;
        margin-bottom: 1rem;
      }
      .link {
        text-align: center;
        font-weight: 600;
        span {
          color: color.$darkest-grey;
        }
      }
    }
  }
}
